{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body>
   
    <div class="navbar">
        <li class="logo"><img src=""></li>
        <li class="buttons">Sign In</a>
    </div>

    
    <div class="main">
        <div class="area">
            <h1>Unlimited movies, TVshows, and more.</h1>
            <h3>Watch anywhere. Cancel anytime.
            </h3>
            <h4>Ready to watch? Enter your email to create or access your account
            </h4>

            <div class="search">
                <input type="text" class="box" placeholder="Enter your Email">
                <span class="try"><a href="">Get Started</a></span>
    </div>

    
</div>
</div>
<div class="section"></div>
            <div class="footercon">
                
 
                <ul class="list1">

                    <li><a href="">FAQ</a></li>
                    <li><a href="">Investor Relation</a></li>
                    <li><a href="">Ways to Watch</a></li>

                    <li><a href="">Corporate Information</a></li>
                    <li><a href="">Netflix Originals</a></li>
                </ul>
                <ul class="list1">
                    <li><a href="">Home</a></li>
                    <li><a href="">Jobs</a></li>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">#</a></li>
                </ul>
                <ul class="list1">
                    <li><a href="">Account</a></li>
                    <li><a href="">Redeem Gift Cards</a></li>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Speed Test</a></li>
                    <li><a href="">#</a></li>

                </ul>
                <ul class="list1">
                    <li><a href="">Media Center</a></li>
                    <li><a href="">Buy Gift Cards</a></li>
                    <li><a href="">Cookie Preferences</a></li>
                    <li><a href="">Legal Notices</a></li>
                    <li><a href="">#</a></li>

                </ul>

            </div>

        </div>
        <div class="footer">
            <a href=""><i class='bx bxl-instagram'></i></a>
             <a href=""><i class='bx bxl-facebook-circle'></i></a>
             <a href=""><i class='bx bxl-twitter'></i></a>
             <a href=""><i class='bx bxl-youtube'></i></a>
             <a href=""><i class='bx bxl-pinterest'></i></a>
         </div>
    
         <div class="cc">
            <h6>Copyright 2024 &copy Bigtree entertainment pvt ltd.</h6>
            <h6>All rights Reserved</h6>
         </div>
        
</body>

</html>